<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Headers" connectionString="Data Source=D:\Repos\BrowserDetective\Ocean.Core.BrowserDetective.UnitTests\Data\Headers2006.DB"/>
    <add name="Results" connectionString="Data Source=Core.Results.2006.db"/>
  </connectionStrings>
</configuration>