@model List<Ocean.Core.BrowserDetective.Data.Models.Browser>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="UserAgent">Lookup</a> | <a asp-action="BrowserNode" asp-route-ID="0">Add</a>| <a asp-action="SamplesList" asp-controller="Home">Samples List</a> | <a asp-action="HeaderList" asp-controller="Home">Headers List</a>
</div>
<br />
<table>
    @foreach(var b  in Model.OrderBy(X=> X.Name))
    {
        <tr>
            <td><a asp-controller="Home" asp-action="BrowserNode" asp-route-ID="@b.Id">@b.Name</a></td>
        </tr>
    }
</table>
